@import 'nib'

pageHeight = calc(100vh - 114px)

html, body, .app-block, #content
  min-height 100%

.app-block, #content
  clearfix()
  overflow hidden
  height 100vh

.inner-app-block
  height pageHeight
  left 0
  margin-top 64px
  margin-bottom 50px
  overflow hidden
  position absolute
  top 0
  -webkit-overflow-scrolling touch
  width 100%
  &::-webkit-scrollbar
    width 0 !important

.inner-app-block__scroller
  clearfix()
  position absolute
  overflow hidden
  min-height 100%
  width 100%
  transform translate3d(0,0,0)
  transform-style preserve-3d
  backface-visibility hidden

.page
  clearfix()
  padding 10px
  overflow hidden
  min-height pageHeight
  width 100%

.page-transition
  clearfix()
  overflow hidden
  min-height 100%
  position relative
  transform translate3d(0,0,0)
  transform-style preserve-3d
  visibility visible

.page-left-right-enter
  transform translateX(-100vw)
  opacity 0.01
  z-index 0

.page-left-right-enter.page-left-right-enter-active
  transition all 0.4s ease-in-out
  transform translateX(0px)
  opacity 1

.page-left-right-leave
  transform translate3d(0,0,0)
  backface-visibility hidden
  position absolute
  top 0
  left 0
  min-height 100vh
  opacity 1
  transition all 0.4s ease-in-out
  z-index 10

.page-left-right-leave.page-left-right-leave-active
  transform translateX(100vw)
  opacity 0.01

