@import 'nib'

slideSpeed = .3s

.page
  background #eaeaea
  box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  padding 10px
  position absolute
  top 0
  left 0
  min-width 100%

.page-transition
  clearfix()
  min-height 100%
  transform translate3d(0,0,0)
  background white

.page-left-right-enter
  transform translateX(-100vw)
  transition all slideSpeed ease-in
  opacity 0.01

.page-left-right-enter.page-left-right-enter-active
  transform translateX(0px)
  opacity 1

.page-left-right-leave
  transform translateX(0px)
  transition all slideSpeed ease-in
  opacity 1

.page-left-right-leave.page-left-right-leave-active
  transform translateX(100vw)
  opacity 0.1

