@import 'nib'

.tabs-block
  background #0074D9
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  bottom 0
  clearfix()
  color white
  height 44px
  position absolute
  max-height 44px
  width 100%
  z-index 20

.tabs-block__button
  color white
  display block
  height 100%
  float left
  line-height 44px
  text-align center
  width 50%
  vertical-align middle
  &.active
    background lighten(#0074d9, 10%)


