@import 'nib'

.tabs-block
  background #0074D9
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  bottom 0
  clearfix()
  color white
  height 50px
  position absolute
  max-height 50px
  width 100%
  z-index 20
