@import 'nib'
nested-html5()

*
  box-sizing border-box
  -webkit-font-smoothing antialiased

html, body
  font-family 'AvenirNext-Regular'
  margin 0px
  min-height 100%
  padding 0px
  position relative

h1, h2, h3, h4, h5
  font-weight 100

